/* body {
  overflow: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Ensures it does not interfere with UI interactions */

